html, body{
    height: 100%;
}

.backbutton{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-left: 15px;
}

.contributebutton{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 15px;
    padding-right: 15px;
}

.generator{
    text-align: center;
}

.center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align_left{
    text-align: left;
}

#benedict{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

.beneimage{
    max-width: 20%;
}

.footer{    
    margin-top: -25px;
    text-align: center;
}

pre{
    background: #eeeeee;
}