{% extends 'base.html' %} {% block content %}
<div class="backbutton">
    <a href="/benedictcumberator">
        <i class="fas fa-arrow-left"></i> Back to generator
    </a>
</div>
<div class="container center">
    <div>
        <h1>Contributing [Coming Soon]</h1>
        <h6>Fill in this form to have your suggestion added to the list of combinations!</h6>
    </div>
</div>
{% endblock %}