{% extends 'base.html' %} {% block content %}
<div class="backbutton">
    <a href="/">
        <i class="fas fa-arrow-left"></i> Back to main site
    </a>
</div>
<div class="contributebutton">
    <a href="contribute">
        <i class="fas fa-plus-square"></i> Contribute!
    </a>
</div>
<div class="container center">
    <div class="generator">
        <img class="beneimage" src="{{ url_for('static', filename='img/benedict_cut.jpg') }}">
        <h1>Welcome to the Benedict Cumberator!</h1>
        <h2 id="benedict">{{benedict}}</h1>
            <h6>
                <a href="working">{{possibilities}}</a> different possibilities!</h6>
            <button class="btn btn-primary" id="gimme_benedict">More cumberbatch!</button>
    </div>
</div>
{% endblock %}