{% extends 'base.html' %} {% block content %}
<div class="backbutton">
    <a href="/benedictcumberator">
        <i class="fas fa-arrow-left"></i> Back to generator
    </a>
</div>
<div class="contributebutton">
    <a href="/benedictcumberator/contribute">
        <i class="fas fa-plus-square"></i> Contribute!
    </a>
</div>
<div class="container center">
    <div>
        <h1>Working</h1>
        Hi, I'm Timo Hoogenbosch and I made this thing in my spare time because I was bored!
        <br> The program's working is really simple. It is written with Python with Flask as backend, and HTML with CSS and JavaScript
        with jQuery as frontend.
        <br> The program has four lists. One with the first part of Benedict Cumberbatch, one with the second, etc.
        <br>
        <pre><code>
  _bene = ["Bene", "Bani", "Butter", "Bendy", ...
  _dict = ["dict", "ster", "cup", "noodle", ...
  _cumber = ["Cumber", "Crumble", "Cumber", "Crumper", ...
  _batch = ["batch", "bench", "snatch", "bunts", ...
            </code></pre> Then, as soon as the webpage is loaded, or the
        <button class="btn btn-primary">More cumberbatch!</button> button is pressed, an AJAX request is made to the server and using this function
        <pre><code>  random.choice()</code></pre> a word is choosen from each of the four lists. They are combined and then sent back to the browser.
        <br> So how did we get to that number of possibilities? ({{possibilities}})
        <br> Well you just take the product of the lengths of the lists, because the amount of possibilities is: amount_of_pos
        * amount_of_pos2 * amount_of_pos3 * ...
        <br> And since the four lists all are about 52 entries long, you can imagine that the number stacks up.
    </div>
</div>
{% endblock %}